
@R_MAVIBUZ   0x7FCDCD
@R_MAVITURKUVAZ "0x55B4B0"

@R_SOMONACIK 0xFF6F61
@R_PEMBEAÇIK 0xF7CAC9
@R_PEMBEGUL 0xDFCFBE
@R_PEMBEKOYU 0xB76BA3
@R_PEMBESEKER 0xB565A7
@R_SARIHAZAN 0xD8AE47
@R_SARIAY    0xFAE03C
@R_FUSYAKOYU 0xDD4132
@R_KAHVESUTLU 0xB18F6A
@R_MAVIGOK   0x98DDDE
@R_MAVIHAVA  0x92B6D5
@R_SEFTALI   0xF7786B
@R_SOMON     0xE15D44
@R_FUSYA     0xC3447A
@R_MIMOZA    0xEFC050

@R_YESILHACI 0x88B04B
@R_TURKUVAZ  0x45B8AC
@R_YESILACIK 0x79C753
@R_GRIPEMBE  0xAF9483
@R_GRIFIRTINA 0x92A8D1
